%fieldset
  = f.label :meeting_agendas, "Agenda"
  = f.text_area :meeting_agendas
  .controls
    %label.checkbox.uniform
      = f.check_box :_destroy
      = f.label :_destroy, "Remove Agenda"
  = f.fields_for :resolutions do |builder|
    = render 'resolution_fields', f: builder
  = link_to_add_fields "Add Resolution", f, :resolutions