
<%= form_for(@bill_header) do |f| %>
  <% if @bill_header.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bill_header.errors.count, "error") %> prohibited this bill header from being saved:</h2>
      <ul>
	      <% @bill_header.errors.full_messages.each do |msg| %>
	        <li><%= msg %></li>
	      <% end %>
      </ul>
    </div>
  <% end %>

	<label class="control-label" for="focusedInput">Bill Date</label>
	<div class="controls"><%= f.text_field :bill_date %></div>
	<label class="control-label" for="focusedInput">From</label>
	<div class="controls"><%= f.text_field :from_date %></div>
	<label class="control-label" for="focusedInput">To</label>
	<div class="controls"><%= f.text_field :to_date %></div>
	<label class="control-label" for="focusedInput">Bill Cycle (2 for bimonthly)</label>
	<div class="controls"><%= f.text_field :bill_cycle %></div>
	<label class="control-label" for="focusedInput">Grace Period (number of Days)</label>
	<div class="controls"><%= f.number_field :grace_period %></div>
	<label class="control-label" for="focusedInput">Discount Period (number of Days)</label>
	<div class="controls"><%= f.number_field :days_to_discount %></div>
	<label class="control-label" for="focusedInput">Starting Bill number (last bill number + 1)</label>
	<div class="controls"><%= f.number_field :bill_number_start %></div>
	<label class="control-label" for="focusedInput">Total number of bills (number of units)</label>
	<div class="controls"><%= f.number_field :bill_number_end %></div>
	<label class="control-label" for="focusedInput">Bill number Identifier(Society initial)</label>
	<div class="controls"><%= f.text_field :bill_number_format %></div>
 
<ul>
      <div class="controls">
        <label class="checkbox uniform">
		  <%= f.check_box :locked_period %>
		  <%= f.label :locked_period, "Bill Finalised?" %>
        </label>
      </div>
</ul>
 	<div class="form-actions">
		<%= f.submit 'Generate bills', :class => 'btn btn-primary'  %>
		<%= link_to 'Cancel', bill_headers_path, :class => 'btn' %>
      </div>
<% end %>