%p#notice= notice

%p
  %b Bill date:
  = @bill_header.bill_date
%p
  %b From date:
  = @bill_header.from_date
%p
  %b To date:
  = @bill_header.to_date
%p
  %b Bill cycle:
  = @bill_header.bill_cycle
%p
  %b Grace period:
  = @bill_header.grace_period
%p
  %b Days to discount:
  = @bill_header.days_to_discount
%p
  %b Bill number start:
  = @bill_header.bill_number_start
%p
  %b Bill number end:
  = @bill_header.bill_number_end
%p
  %b Bill number format:
  = @bill_header.bill_number_format
%p
  %b Locked period:
  = @bill_header.locked_period
%p
  %b Society:
  = @bill_header.society_id

= link_to 'Edit', edit_bill_header_path(@bill_header)
\|
= link_to 'Back', bill_headers_path
