<% if user_signed_in? %></li>
	<ul class="clearfix">
		<li><a class="round_top" href="http://localhost:3000/">
			<img src="/images/icons/grey/Laptop.png">
			<span>Dashboard</span></a>
		</li>
		<% if current_user.has_role? :super_admin or current_user.has_role? :society_admin %>
		<li><a href="http://localhost:3000/users">
			<img src="/images/icons/grey/admin_user_2.png">
			<span>Admin</span>
			<span class="icon">&nbsp;</span></a>
			<div class="accordion">
				<a href="http://localhost:3000/users">Users</a>
			</div>
		</li>
		<% end %></p>
		<% if current_user.has_role? :super_admin or current_user.has_role? :society_manager %>
		<li><a><img src="/images/icons/grey/apartment_building.png">
			<span>First time setup</span>
			<span class="icon">&nbsp;</span></a>
			<ul>
				<li><a><%= link_to "Master", societies_path %></a></li>
				<li><a><%= link_to "Unit Type", unit_types_path %></a></li>
				<li><a><%= link_to "Unit", units_path %></a></li>
				<li><a><%= link_to "Bill Setup", bill_setups_path %></a></li>
			</ul>
		</li>	
		<% end %></p>
		<li><a><img src="/images/icons/grey/apartment_building.png">
			<span>Need based setup</span>
			<span class="icon">&nbsp;</span></a>
			<ul>
				<li><a><%= link_to "Member", view_members_path %></a></li>
				<li><a><%= link_to "Membership", memberships_path %></a></li>
				<li class="divider"></li>
				<li><a><%= link_to "Staff", staffs_path %></a></li>
				<li><a><%= link_to "Vendor", vendors_path %></a></li>
			</ul>
		</li>	
		<% if current_user.has_role? :super_admin or current_user.has_role? :society_accountant %>
		<li><a><img src="/images/icons/grey/create_write.png">
			<span>Billing</span>
			<span class="icon">&nbsp;</span></a>
			<div class="accordion">
				<a><%= link_to "Bill Header", bill_headers_path %></a>
				<a><%= link_to "Bills", view_bills_path %></a>
				<a><%= link_to "Bill Verification", bill_headers_path %></a>
				<a><%= link_to "Bill Send", bill_headers_path %></a>
			</div>	
		</li>
		<% end %></p>
		<% if current_user.has_role? :super_admin or current_user.has_role? :society_meeting %>
		<li><a href="#">
			<img src="/images/icons/grey/day_calendar.png">
			<span>Meetings</span>
			<span class="icon">&nbsp;</span></a>
			<div class="accordion">
				<a><%= link_to "Committe Members", meetings_path %></a>
				<a><%= link_to "Meetings", meetings_path %></a>
				<a><%= link_to "Correspondence", meetings_path %></a>
			</div>	
		</li>	
		<% end %></p>
		<li><a href="#">
			<img src="/images/icons/grey/Headphones.png">
			<span>Music Video</span></a>
			<span class="icon">&nbsp;</span></a>
			<div class="accordion">
				<%= link_to 'You Tube', videos_path %>
				<%= link_to('Stats', '/stats') %>
				<%= link_to('Genres', '/genres') %>  
			<% if user_signed_in? %>
				<%= link_to("Gallery", '/genres') %>
				<%= link_to('My Playlists', "/#{current_user.name}/playlists") %>
			<% end %>
			</div>
		</li>	
		<li><a href="#">
			<img src="/images/icons/grey/Images.png">
			<span>Image Gallery</span>
			<span class="icon">&nbsp;</span></a>
			<div class="accordion">
				<%= link_to("Gallery", "/staff_photos" ) %>
			</div>
		</li>	
		<li><a href="#">
				<%= link_to (image_tag("/images/icons/grey/Exit.png")+' '+'Logout'), destroy_user_session_path, :method => "delete" %>
			</a>
		</li>	
	</ul>
				<a href="#" class="minimize round_bottom"><span>minimize</span></a>
<% end %>