%h6 Vendors

%table.table.table-striped.table-condensed
  %tr
    %th Name
    %th Contact name
    %th Mobile
    %th Email
    %th Payee name
    %th Service type
    %th Society
    %th
    %th
    %th

  - @vendors.each do |vendor|
    %tr
      %td= vendor.vendor_name
      %td= vendor.contact_name
      %td= vendor.vendor_phone
      %td= vendor.vendor_email
      %td= vendor.payee_name
      %td= vendor.service_type
      %td= vendor.society_id
      %td= link_to 'Show', vendor
      %td= link_to 'Edit', edit_vendor_path(vendor)
      %td= link_to 'Destroy', vendor, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New Vendor', new_vendor_path
