%p#notice= notice

%p
  %b Vendor name:
  = @vendor.vendor_name
%p
  %b Contact name:
  = @vendor.contact_name
%p
  %b Vendor phone:
  = @vendor.vendor_phone
%p
  %b Vendor email:
  = @vendor.vendor_email
%p
  %b Service type:
  = @vendor.service_type
%p
  %b Stax reg number:
  = @vendor.stax_reg_number
%p
  %b Service tax rate:
  = @vendor.service_tax_rate
%p
  %b Pan number:
  = @vendor.pan_number
%p
  %b Is recurring:
  = @vendor.is_recurring
%p
  %b Vat number:
  = @vendor.vat_number
%p
  %b Section code:
  = @vendor.section_code
%p
  %b Payee name:
  = @vendor.payee_name
%p
  %b Address:
  = @vendor.address
%p
  %b Society:
  = @vendor.society_id

= link_to 'Edit', edit_vendor_path(@vendor)
\|
= link_to 'Back', vendors_path
